body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    font-family: Arial, sans-serif;
    background-color: #ddd5d5;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
}

button:hover {
    cursor: pointer;
    background-color: #266f29;
}

img {
    margin-top: 30px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
